<div class="donor-list-heading">
    <h3>Hospital Records</h3>
    <p>This section contains the list of all the hospital request for blood</p>
</div>
<div *ngIf="loading" class="loader-class">
    <img src="../../../../assets/images/Loading.gif" alt="img" />
</div>
<search-table *ngIf="dataSource.length" (searchDataText)="getMatchingData($event)"></search-table>
<div *ngIf="dataSource.length" class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> S. No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name" class="large">
            <th mat-header-cell *matHeaderCellDef> Hospital Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="disease" class="small">
            <th mat-header-cell *matHeaderCellDef> Disease</th>
            <td mat-cell *matCellDef="let element"> {{element.disease}}</td>
        </ng-container>

        <ng-container matColumnDef="contact" class="small">
            <th mat-header-cell *matHeaderCellDef> Contact</th>
            <td mat-cell *matCellDef="let element"> {{element.contact}}</td>
        </ng-container>

        <ng-container matColumnDef="city" class="small">
            <th mat-header-cell *matHeaderCellDef> City</th>
            <td mat-cell *matCellDef="let element"> {{element.city}}</td>
        </ng-container>

        <ng-container matColumnDef="requestDate" class="small">
            <th mat-header-cell *matHeaderCellDef> Requested Date</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <span *ngIf="element.unitsRequested == 'NA'">
                    NA
                </span>
                <span *ngIf="element.unitsRequested !== 'NA'">
                    {{formatDate(element.requestDate)}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="bloodGroup" class="small">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Blood Group</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.bloodGroup}}</td>
        </ng-container>

        <ng-container matColumnDef="unitsRequested" class="small">
            <th mat-header-cell *matHeaderCellDef> Units Required</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.unitsRequested}}</td>
        </ng-container>

        <ng-container matColumnDef="status" class="small">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.status === ''">
                    Pending
                </span>
                <span *ngIf="element.status !== ''">
                    {{element.status}}
                </span>
            </td>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="actions" class="small">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <div class="actions-btn" *ngIf="element.unitsRequested !== 'NA' && (element.status === '')">
                    <button class="approve-btn" (click)="updateHospitalStatus(element.id, element.sub_id, 'Accepted')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-check2"
                            viewBox="0 0 16 16">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                        </svg>
                    </button>
                    <button class="cancel-btn" (click)="updateHospitalStatus(element.id, element.sub_id, 'Rejected')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-x-lg"
                            viewBox="0 0 16 16">
                            <path
                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                        </svg>
                    </button>
                </div>
                <div *ngIf="element.status !== ''" class="action-msg">
                    <p *ngIf="element.status === 'Accepted'" class="action-msg-green">{{element.unitsGiven}} unit given
                    </p>
                    <p *ngIf="element.status === 'Rejected'" class="action-msg-red">0 units</p>
                </div>
            </td>
        </ng-container>

        <!-- Extra Details starts here, add column name to see them -->
        <ng-container matColumnDef="details" class="large">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="viewIndividualDetails(element.id)"> View Details </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<mat-paginator class="pagination" *ngIf="dataSource.length" [pageSizeOptions]="[1, 2, 5, 10, 20]"
    [length]="paginationData.length" [pageSize]="paginationData.pageSize" (page)="onPageChange($event)" se
    showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>
<div *ngIf="!dataSource.length && !loading"
    class="container  d-flex flex-column align-items-center justify-content-center vh-100">
    <img class="img-order" src="../../../assets/images/cart.jpg" alt="Empty Cart">
    <h1>No Records found</h1>
</div>
<custom-modal [openModal]="openProfileModal" [individualProfileData]="individualProfileData"></custom-modal>