<div class="donor-list-heading">
    <h3>Blood Request</h3>
    <p>This section helps hospital to request for bloods</p>
</div>
<div class="container-appointment">
    <div class="left">
        <img src="assets/images/hospital-building.png" alt="User Avatar" class="login-img" />
        <h2 class="register-title">{{(this.currentUser.name).toUpperCase()}}</h2>
        <button mat-button color="primary">
            <!-- <mat-icon>Edit</mat-icon> -->
            Edit Details</button>
    </div>
    <div class="right">
        <div class="edit-btn">
            <button mat-raised-button color="primary" *ngIf="!showAppointmentForm" (click)="enableUpdateForm()"
                style="justify-content: end;">
                Add More Request
            </button>
        </div>
        <div class="modal-body">
            <div class="user-details">
                <div class="detail-item">
                    <span class="detail-title">Donor ID:</span>
                    <span class="detail-value">{{this.currentUser.id}}</span>
                </div>
                <div class="detail-item">
                    <span class="detail-title">Email:</span>
                    <span class="detail-value">{{this.currentUser.email}}</span>
                </div>
                <div class="detail-item">
                    <span class="detail-title">Phone Number:</span>
                    <span class="detail-value">{{this.currentUser.contact}}</span>
                </div>
                
                <div class="detail-item">
                    <span class="detail-title">Registration Date:</span>
                    <span class="detail-value">{{convertDate(this.currentUser.created_at)}}</span>
                </div>

                <div class="detail-item">
                    <span class="detail-title">City:</span>
                    <span class="detail-value">{{this.currentUser.city}}</span>
                </div>
                
                <div class="detail-item">
                    <span class="detail-title">Country:</span>
                    <span class="detail-value">{{this.currentUser.country}}</span>
                </div>

                <div class="detail-item" style="width: 100%;">
                    <span class="detail-title">Address:</span>
                    <span class="detail-value">{{(this.currentUser.address).toUpperCase()}}</span>
                </div>

                <!-- <div class="detail-item" *ngIf="this.currentUser.requestedDate !== ''">
            <span class="detail-title">Appointment Date:</span>
            <span class="detail-value">{{convertDate(this.currentUser.requestedDate)}}</span>
          </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Success card -->
<div class="premium-success-card-wrapper" *ngIf="formSubmissionStatus">
    <div class="premium-success-card">
        <div class="premium-icon-container">
            <img src="https://img.icons8.com/fluency/48/000000/checked.png" alt="Success Icon">
        </div>
        <div class="premium-message-container">
            <h2>Appointment booked successfully</h2>
        </div>
    </div>
</div>

<!-- Appointment card starts here -->
<div class="custom-badge" *ngIf="showAppointmentForm">
    <h4>Fill the Details</h4>
</div>

<div *ngIf="showAppointmentForm" class="form-wrapper">
    <form [formGroup]="bloodRequirementForm" (ngSubmit)="registerRequest()" class="register-form">
        <mat-form-field appearance="outline">
            <mat-label>Blood Group</mat-label>
            <select matNativeControl formControlName="bloodgroup" name="car" [disabled]="true">
                <option *ngFor="let item of bloodGroups" [value]="item.value">
                    {{item.viewValue}}
                </option>
            </select>
            <mat-error *ngIf="bloodRequirementForm.get('bloodgroup')?.hasError('required')">Please choose blood
                ground</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Units</mat-label>
            <select matNativeControl formControlName="unit" name="unit">
                <option *ngFor="let item of bloodUnits" [value]="item.value">
                    {{item.viewValue}}
                </option>
            </select>
            <mat-error *ngIf="bloodRequirementForm.get('unit')?.hasError('required')">Please choose units</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field-width-full">
            <mat-label>Medical History</mat-label>
            <textarea matInput rows="1" placeholder="e.g., chronic diseases, surgeries, allergies"
                formControlName="medical_history"></textarea>
            <mat-error *ngIf="bloodRequirementForm.get('medical_history')?.hasError('required')">Medical History is
                required</mat-error>
        </mat-form-field>

        <div class="register-btn-wrapper">
            <button [disabled]="!bloodRequirementForm.valid" type="submit" color="primary" mat-raised-button
                class="register-button">
                Register Request
            </button>
        </div>
    </form>
</div>

<!-- Appointment card starts here -->
<div class="custom-badge" *ngIf="showAppointmentForm">
    <h4>Previous History</h4>
</div>


<!-- <div *ngIf="dataSource.length" class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> S. No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name" class="large">
            <th mat-header-cell *matHeaderCellDef> Hospital Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="disease" class="small">
            <th mat-header-cell *matHeaderCellDef> Disease</th>
            <td mat-cell *matCellDef="let element"> {{element.disease}}</td>
        </ng-container>

        <ng-container matColumnDef="contact" class="small">
            <th mat-header-cell *matHeaderCellDef> Contact</th>
            <td mat-cell *matCellDef="let element"> {{element.contact}}</td>
        </ng-container>

        <ng-container matColumnDef="city" class="small">
            <th mat-header-cell *matHeaderCellDef> City</th>
            <td mat-cell *matCellDef="let element"> {{element.city}}</td>
        </ng-container>

        <ng-container matColumnDef="requestDate" class="small">
            <th mat-header-cell *matHeaderCellDef> Requested Date</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                <span *ngIf="element.unitsRequested == 'NA'">
                    NA
                </span>
                <span *ngIf="element.unitsRequested !== 'NA'">
                    {{formatDate(element.requestDate)}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="bloodGroup" class="small">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Blood Group</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.bloodGroup}}</td>
        </ng-container>

        <ng-container matColumnDef="unitsRequested" class="small">
            <th mat-header-cell *matHeaderCellDef> Units Required</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.unitsRequested}}</td>
        </ng-container>

        <ng-container matColumnDef="status" class="small">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="element.status === ''">
                    Pending
                </span>
                <span *ngIf="element.status !== ''">
                    {{element.status}}
                </span>
            </td>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="actions" class="small">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <div class="actions-btn" *ngIf="element.unitsRequested !== 'NA'">
                    <button class="approve-btn" (click)="updateHospitalStatus(element.id, element.sub_id, 'Accepted')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-check2"
                            viewBox="0 0 16 16">
                            <path
                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0" />
                        </svg>
                    </button>
                    <button class="cancel-btn" (click)="updateHospitalStatus(element.id, element.sub_id, 'Rejected')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-x-lg"
                            viewBox="0 0 16 16">
                            <path
                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                        </svg>
                    </button>
                </div>
                <div *ngIf="element.status !== ''" class="action-msg">
                    <p *ngIf="element.status === 'Accepted'" class="action-msg-green">{{element.unitsGiven}} blood added</p>
                    <p *ngIf="element.status === 'Rejected'" class="action-msg-red">0 units</p>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="details" class="large">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="viewIndividualDetails(element.id)"> View Details </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div> -->