<div class="donor-list-heading">
    <h3>Donors Records</h3>
    <p>This section contains the list of all the donors</p>
</div>
<div *ngIf="loading" class="loader-class"> 
    <img src="../../../../assets/images/Loading.gif" alt="img" />
</div>
<search-table *ngIf="dataSource.length" (searchDataText)="searchData($event)"></search-table>
<div *ngIf="dataSource.length" class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

        <ng-container matColumnDef="id" class="small">
            <th mat-header-cell *matHeaderCellDef> S. No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name" class="large">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="disease" class="large">
            <th mat-header-cell *matHeaderCellDef> Disease </th>
            <td mat-cell *matCellDef="let element"> {{element.disease}} </td>
        </ng-container>

        <ng-container matColumnDef="age" class="small">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} yrs</td>
        </ng-container>

        <ng-container matColumnDef="bloodgroup" class="small">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Blood Group </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.bloodgroup}} </td>
        </ng-container>

        <ng-container matColumnDef="unit" class="small">
            <th mat-header-cell *matHeaderCellDef> No of Unit </th>
            <td mat-cell *matCellDef="let element"> {{element.unit}} units </td>
        </ng-container>


        <ng-container matColumnDef="email" class="large">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="city" class="large">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <ng-container matColumnDef="address" class="large">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element">
                <button color="warn" mat-raised-button (click)="viewAddress(element.id)"> View Address </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
</div>
<mat-paginator class="pagination" *ngIf="dataSource.length" [pageSizeOptions]="[5, 10, 20]" [length]="paginationData.length" [pageSize]="paginationData.pageSize" (page)="onPageChange($event)" se showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>
<div *ngIf="!dataSource.length && !loading" class="container  d-flex flex-column align-items-center justify-content-center vh-100">
    <img class="img-order" src="../../../assets/images/cart.jpg" alt="Empty Cart">
    <h1>No donors found</h1>
</div>
<!-- <div>
  <button color="primary" routerLink="/home" mat-raised-button > Start Shopping </button>
</div> -->