<form [formGroup]="hospitalRegisterForm" (ngSubmit)="register()" class="register-form">
    <mat-form-field appearance="outline">
      <mat-label>Hospital Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter your hospital name" type="text" />
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-error *ngIf="hospitalRegisterForm.get('name')?.hasError('required')">Hospital Name is required</mat-error>
      <mat-error *ngIf="hospitalRegisterForm.get('name')?.hasError('minlength')">Full Name should be at least
        characters.</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Enter your email" type="email" />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="hospitalRegisterForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="hospitalRegisterForm.get('email')?.hasError('email')">Invalid email format</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input name="password" type="password" matInput required formControlName="password" (change)="onChange()" />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="hospitalRegisterForm.get('password')?.hasError('required')">Password is required.</mat-error>
      <mat-error *ngIf="hospitalRegisterForm.get('password')?.hasError('pattern')">
        Password must include at least 8 characters, a number, an uppercase letter, a lowercase letter, and a special
        character.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input name="confirmPassword" type="password" matInput required formControlName="confirmPassword"
        appConfirmPasswordValidator [password]="passwordTyped" />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="hospitalRegisterForm.get('confirmPassword')?.hasError('required')">Please re-enter your
        password.</mat-error>
      <mat-error *ngIf="hospitalRegisterForm.get('confirmPassword')?.hasError('confirmPasswordValid')">Passwords didn't
        match</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="contact" placeholder="Enter your contact number" type="text" />
        <mat-icon matSuffix>smartphone</mat-icon>
        <mat-error *ngIf="hospitalRegisterForm.get('contact')?.hasError('required')">Phone number is required</mat-error>
      </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" placeholder="Enter your country" type="text" />
      <mat-icon matSuffix>flag</mat-icon>
      <mat-error *ngIf="hospitalRegisterForm.get('country')?.hasError('required')">Country is required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="Enter your city" type="text" />
      <mat-icon matSuffix>location_city</mat-icon>
      <mat-error *ngIf="hospitalRegisterForm.get('city')?.hasError('required')">City is required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput rows="1" placeholder="Enter your address..." formControlName="address"></textarea>
      <mat-error *ngIf="hospitalRegisterForm.get('address')?.hasError('required')">Address is required</mat-error>
    </mat-form-field>
  
    <span class="register-hint">Already a registered user? <a routerLink="/accounts/login">Sign In</a></span>
  
    <div class="register-btn-wrapper">
  
      <button [disabled]="!hospitalRegisterForm.valid" type="submit" color="primary" mat-raised-button class="register-button">
        <mat-icon>save</mat-icon>
        Create
      </button>
    </div>
  </form>