<div class="donor-list-heading">
  <h3>Schedule Appointment</h3>
  <p>This section contains scheduling date for blood donation</p>
</div>
<div class="container-appointment">
  <div class="left">
    <img src="assets/images/man.png" alt="User Avatar" class="login-img" />
    <h2 class="register-title">{{this.currentUser.name}}</h2>
    <button mat-button color="primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
      </svg>
      Edit Details</button>
  </div>
  <div class="right">
    <div class="edit-btn">
      <button mat-raised-button color="primary" *ngIf="!showAppointmentForm" (click)="enableUpdateForm()"
        style="justify-content: end;">
        Edit Appointment Schedule
      </button>
    </div>
    <div class="modal-body">
      <div class="user-details">
        <div class="detail-item">
          <span class="detail-title">Donor ID:</span>
          <span class="detail-value">{{this.currentUser.id}}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Email:</span>
          <span class="detail-value">{{this.currentUser.email}}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Phone Number:</span>
          <span class="detail-value">{{this.currentUser.contact}}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Gender:</span>
          <span class="detail-value">{{(this.currentUser.gender).toUpperCase()}}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Date of Birth:</span>
          <span class="detail-value">{{this.currentUser.dob}}</span>
        </div>
        <!-- <div class="detail-item">
                <span class="detail-title">Age:</span>
                <span class="detail-value">45</span>
              </div> -->
        <div class="detail-item">
          <span class="detail-title">Blood Group:</span>
          <span class="detail-value">{{this.currentUser.bloodgroup}}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">City:</span>
          <span class="detail-value">{{this.currentUser.city}}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Country:</span>
          <span class="detail-value">{{this.currentUser.country}}</span>
        </div>
        <div class="detail-item">
          <span class="detail-title">Address:</span>
          <span class="detail-value">{{this.currentUser.address}}</span>
        </div>

        <div class="detail-item">
          <span class="detail-title">Registration Date:</span>
          <span class="detail-value">{{convertDate(this.currentUser.created_at)}}</span>
        </div>

        <div class="detail-item" *ngIf="this.currentUser.requestedDate !== ''">
          <span class="detail-title">Appointment Date:</span>
          <span class="detail-value">{{convertDate(this.currentUser.requestedDate)}}</span>
        </div>

        <div class="detail-item">
          <span class="detail-title">Status:</span>
          <span *ngIf="this.currentUser.status === ''" class="detail-value">Pending</span>
          <span *ngIf="this.currentUser.status !== '' " class="detail-value">{{this.currentUser.status}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success card -->
<div class="premium-success-card-wrapper" *ngIf="formSubmissionStatus">
  <div class="premium-success-card">
    <div class="premium-icon-container">
      <img src="https://img.icons8.com/fluency/48/000000/checked.png" alt="Success Icon">
    </div>
    <div class="premium-message-container">
      <h2>Appointment booked successfully</h2>
    </div>
  </div>
</div>

<!-- Appointment card starts here -->
<div class="custom-badge" *ngIf="showAppointmentForm">
  <h4>Fill the Details</h4>
</div>

<div *ngIf="showAppointmentForm" class="form-wrapper">
  <form [formGroup]="appointmentFormNew" (ngSubmit)="registerAppointment()" class="register-form">
    <mat-form-field appearance="outline">
      <mat-label>Blood Group</mat-label>
      <select matNativeControl formControlName="bloodgroup" name="car" [disabled]="true">
        <option *ngFor="let item of bloodGroups" [value]="item.value">
          {{item.viewValue}}
        </option>
      </select>
      <mat-error *ngIf="appointmentFormNew.get('bloodgroup')?.hasError('required')">Please choose blood
        ground</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Appointment Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="requestedDate" [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="appointmentFormNew.get('requestedDate')?.hasError('required')">Please choose date</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Units</mat-label>
      <select matNativeControl formControlName="unit" name="unit">
        <option *ngFor="let item of bloodUnits" [value]="item.value">
          {{item.viewValue}}
        </option>
      </select>
      <mat-error *ngIf="appointmentFormNew.get('unit')?.hasError('required')">Please choose units</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-width-full">
      <mat-label>Medical History</mat-label>
      <textarea matInput rows="1" placeholder="e.g., chronic diseases, surgeries, allergies"
        formControlName="medical_history"></textarea>
      <mat-error *ngIf="appointmentFormNew.get('medical_history')?.hasError('required')">Medical History is
        required</mat-error>
    </mat-form-field>

    <div class="register-btn-wrapper">
      <button [disabled]="!appointmentFormNew.valid" type="submit" color="primary" mat-raised-button
        class="register-button">
        Book Appointment
      </button>
    </div>
  </form>
</div>