<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="isLoggedIn$ | async as isLogged" #drawer class="sidenav" mode="side" opened>
    <mat-toolbar>
      <img src="assets\images\blood-drop-red.png" alt="bb-logo" class="logo"/>
      <span>Blood Bank</span>
    </mat-toolbar>
    <mat-nav-list>
      <a *ngIf="isLoggedIn$ | async as isLogged" mat-list-item routerLink="/dashboard" matTooltip="Home">
        <mat-icon mat-list-icon class="">home</mat-icon>
        <span>Dashboard</span>
      </a>
      <a *ngIf="isAdmin && isLoggedIn$ | async as isLogged" mat-list-item matTooltip="donor" routerLink="/donor/list">
        <mat-icon mat-list-icon class="">account_circle</mat-icon>
        <span>Donor List</span>
      </a>
      <a *ngIf="isDonor && isLoggedIn$ | async as isLogged" mat-list-item matTooltip="donor" routerLink="/donor/schedule-appointment">
        <mat-icon mat-list-icon class="">account_circle</mat-icon>
        <span>Donor Appointment</span>
      </a>

      <a *ngIf="isAdmin && isLoggedIn$ | async as isLogged" mat-list-item matTooltip="searchAqi"
        routerLink="/hospital/blood-requirement">
        <mat-icon mat-list-icon class="">home</mat-icon>
        <span>Hospital List</span>
      </a>

      <a *ngIf="isHospital && isLoggedIn$ | async as isLogged" mat-list-item matTooltip="searchAqi"
        routerLink="/hospital/request-blood">
        <mat-icon mat-list-icon class="">home</mat-icon>
        <span>Blood Request</span>
      </a>

      <!-- <a *ngIf="isAdmin" mat-list-item matTooltip="searchAqi" routerLink="/inventory"> -->
        <a *ngIf="isAdmin" mat-list-item matTooltip="searchAqi" routerLink="/inventory">
        <mat-icon mat-list-icon class="">supervised_user_circle</mat-icon>
        <span>Inventory</span>
      </a>

      <a *ngIf="isLoggedIn$ | async as isLogged" mat-list-item matTooltip="Logout" (click)="logout()">
        <mat-icon mat-list-icon class="">logout</mat-icon>
        <span>Logout</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="nav-top-header">
      <img src="assets\images\blood-drop.png" alt="bb-logo" [ngClass]="{'logo' : true, 'hidden' : false}"/>
      <span [ngClass]="{'app-heading' : true, 'hidden' : false}">Blood Banking</span>
      <span class="menu-spacer"></span>
      <div *ngIf="isLoggedIn$ | async as isLogged">
        <button mat-button class="user-button" [matMenuTriggerFor]="menu" *ngIf="UserName$ | async as UserName">
          <mat-icon class="person-icon">person</mat-icon>
          <span class="username">Hi, {{ UserName }}</span>

          <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>