<div class="parent-div">
  <div class="container">
    <div class="left">
      <button *ngIf="!isHospitalLogin" mat-flat-button color="primary" class="switch-btn"
        (click)="toggleRegistration()">
        Switch to Hospital Registration
      </button>
      <button *ngIf="isHospitalLogin" mat-flat-button color="primary" class="switch-btn" (click)="toggleRegistration()">
        Switch to Donor Registration
      </button>

      <img src="assets/images/man.png" alt="User Avatar" class="login-img" />
      <h2 class="register-title" *ngIf="!isHospitalLogin">Donor Registration</h2>
      <h2 class="register-title" *ngIf="isHospitalLogin">Hospital Registration</h2>
    </div>
    <div class="right-form">

      <app-register *ngIf="!isHospitalLogin"></app-register>
      <hospital-registration *ngIf="isHospitalLogin"></hospital-registration>
    </div>
  </div>
</div>